{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}




<div class="container my-4 ">

    <div class="container my-4 ">
        <h2 style="color:brown;">Get to know me here:</h2>
    </div>

    <table class="table mx-4 my-4">
        
        <tbody>
          <tr>
            <td>Name:</td>
            <td>Nikitha Cholleti</td>
          </tr>

          <tr>
            <td>Age:</td>
            <td>21</td>
          </tr>

          <tr>
            <td>Date of birth:</td>
            <td>18-05-2002</td>
          </tr>

          <tr>
            <td>Email:</td>
            <td>nikithacholleti99@gmail.com</td>
          </tr>

          <tr>
            <td>Gender:</td>
            <td>Female</td>
          </tr>

          <tr>
            <td>Languages known:</td>
            <td>English, Hindi, Telugu</td>
          </tr>

          <tr>
            <td>Address:</td>
            <td>Hyderabad, Telangana, 500015</td>
          </tr>

          <tr>
            <td>Hobbies:</td>
            <td>Painting, Reading books, Coding</td>
          </tr>
        
        </tbody>
    </table>

    <div class="container my-4 ">
        <h2 style="color:brown;">Qualifications:</h2>
    </div>

    <table class="table table-striped mx-4 my-4">
        

        <thead>
            <tr>
              <th scope="col">Qualification</th>
              <th scope="col">Institution</th>
              <th scope="col">Grade</th>
            </tr>
        </thead>

        <tbody>
            <tr>
              <td>B tech(currently studying)</td>
              <td>Sreenidhi institute of Science and Technology  </td>
              <td>8.84</td>
            </tr>

            <tr>
              <td>Intermediate</td>
              <td>Nano Junior College Nallakunta</td>
              <td>95%</td>
            </tr>

            <tr>
                <td>Schooling</td>
                <td>St. Ann's high school</td>
                <td>9.8</td>
              </tr>
           
        </tbody>

    </table>
</div>


{% endblock body %}
