{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4 mx-0 ">
    <h2 style="color:brown;">My Achievements</h2>
</div>

<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">NCC C Certificate</h5>
      <p class="card-text">
     NCC C Certificate recipient, demonstrating commitment, leadership, and teamwork skills
Recognized for dedication to serving the nation and contributing to society.
Successfully completed rigorous training programs, developing discipline and responsibility.
      </p>
    </div>
</div>


<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">Member-Hyderabad Youth Assembly</h5>
      <p class="card-text">
       Hyderabad YouthAssembly is a unit of Street Cause. Volunteering with Street Cause's Hyderabad YouthAssembly has been a rewarding
experience. We work on development projects to make a tangible difference in rural communities. I've grown personally, learned
communication and teamwork skills, and applied them in other areas of my life. It's inspiring to serve the community with this dedicated
organization

      </p>
    </div>
</div>



<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">Merit Student | St. Ann's high School </h5>
      <p class="card-text">
        I have embraced challenges, achieving academic excellence through discipline and time management. My perseverance has fostered leadership and teamwork skills, contributing to my personal and professional growth.
    </div>
</div>

<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">Vice President-English Literature Club</h5>
      <p class="card-text">
        As the Vice President of the English Literature Club, I have fostered a love for literature, organized engaging events, and encouraged members' creative expression. Through collaboration and dedication, we have enriched our understanding of the written word, creating a vibrant community of literary enthusiasts.
        
      </p>
    </div>
</div>



{% endblock body %}
