{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4">
  <h2 style="color:brown;">My Certfications</h2>
</div>



<div class="container  my-4">
  <p>

      <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#MLID" aria-expanded="false" aria-controls="MLID">
        Coding Languages
        </button>

  </p>

  <div class="collapse gap-2 col-12 " id="MLID">
      <div class="card card-body">
          <div class="list-group my-2"> 
              <ul>
                <li> <a href="#" target="_blank" class="list-group-item list-group-item-action">Learning Java 11</a></li>
                <li>  <a href="#" target="_blank" class="list-group-item list-group-item-action">Learning Python</a></li>

              </ul>
          </div>
      </div>
  </div>

</div>




{% endblock body %}
