{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4 ">
    <h2 style="color:brown;">My Work experiences</h2>
</div>


<div class="container my-4 ">
    <h4 style="color:rgb(104, 188, 163);">Internships</h2>
</div>


<div class="container px-4 py-2">
        <p>

            <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work1" aria-expanded="false" aria-controls="Work1">
                Artificial Intellgence and Machine Learning - Amazon Web Services
            </button>

        </p>

        
            <div class="card card-body"><p><b>
                Completed an internship in AI and machine learning at AWS, focused on developing deep learning models. Utilized AWS services such as
SageMaker and Rekognition to build and evaluate models. Gained experience with Python programming, TensorFlow, and other AI/ML tools.
Contributed to the development of new AI-powered features for AWS services
</br></br>
            </b></p></div>
        

</div>


<div class="container px-4 py-2">
    <p>

        <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work2" aria-expanded="false" aria-controls="Work2">
             Cloud Practitioner Essentials - Amazon Web Services
        </button>

    </p>

    
        <div class="card card-body"><p><b>
            As an AWS Cloud Practitioner, I have gained expertise in cloud computing fundamentals, mastering concepts like scalability, security, and cost optimization. With a solid understanding of AWS services, I am equipped to drive innovation and efficiency, enabling businesses to leverage the power of the cloud.
            </br></br>

            Internship duration 3 months (Jul 2021 - Oct 2021)
        </b></p></div>
    

</div>

{% endblock body %}
