{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container py-4 mx-2">
    <h2 style="color:brown;">My Projects</h2>
</div>

<div class="col-md-12 px-4 my-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Mental health chatbot</h2>
      <p>
        Developed a mental health chatbot using Flask and NLTK to provide support to users. Built a conversational interface that utilized natural
language processing techniques to understand and respond to users' messages. Received positive feedback from users and improved
mental health outcomes by providing accessible mental health support
      </p>

    </div>
</div>



<div class="col-md-12 py-4 px-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Personal PortFolio</h2>
      <p>
        Created and hosted my Portfolio Which you are currently accessing
      </p>
      <a href="/" target="_blank">
        <button class="btn btn-outline-light" type="button">Visit</button>
      </a>    
    </div>
</div>


{% endblock body %}





