{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4 ">
    <h2 style="color:brown;">My Skills</h2>
</div>


<div class="container px-4 py-2">
<table class="table table-dark table-border">
    <thead>

        <tr>
          <th scope="col">Skill</th>
          <th scope="col">Category</th>

          
          
        </tr>

    </thead>
      
    <tbody class="table-group-divider">

        <tr>
          <td>Machine learning</td>
          <td>Artificial intelligence</td>

        </tr>


        <tr>
            <td>Data Warehousing and mining</td>
            <td>IT Skills</td>

        </tr>



        <tr>
            <td>Python</td>
            <td>Programming language</td>

        </tr>

        <tr>
            <td>Java</td>
            <td>Programming language</td>

        </tr>

        <tr>
            <td>C programming</td>
            <td>Programming language</td>

        </tr>




        <tr>
            <td>HTML,CSS</td>
            <td>Web development</td>

        </tr>

        <tr>
            <td>Database management</td>
            <td>IT skills</td>

        </tr>

        <tr>
            <td>Computer Networking</td>
            <td>IT skills</td>

        </tr>





        
    </tbody>

</table>


</div>




{% endblock body %}
